[bumpversion]
current_version = 4.0.1
commit = False
tag = False

[bumpversion:file:patoolib/configuration.py]
search = Version: str = "{current_version}"
replace = Version: str = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
