# generated python files
__pycache__
/.pytest_cache
/.ruff_cache
/uv.lock
/.venv

# build and dist dirs
/build
/dist
/.achievements
/MANIFEST

# local files
/patool.egg-info/
# configuration for direnv(1)
/.envrc

# local development files
/bin
/.python-version
/tests/Unpack_*/
