# generated python files
*.pyc
*.pyo
__pycache__

# build and dist dirs
/build
/dist
/.achievements
/MANIFEST

# local files
/_patool_configdata.py
/patool.egg-info/

# local development files
/todo
/testresults.txt
/.python-version
