# generated python files
__pycache__
/.pytest_cache
/.ruff_cache

# build and dist dirs
/build
/dist
/.achievements
/MANIFEST

# local files
/patool.egg-info/
/.env

# local development files
/todo.txt
/todo.txt.bak
/done.txt
/report.txt
/.python-version
