language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
# whitelist
branches:
  only:
    - master
# install some archive programs
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq archmage arj bzip2 lbzip2 pbzip2 cabextract ncompress cpio bsdcpio lzop lcab p7zip p7zip-full zip unzip rpm2cpio binutils arc nomarch unalz lrzip bsdtar rzip zoo xdms orange lzip plzip clzip pdlzip sharutils flac unadf zoo zpaq libchm-bin genisoimage pigz rpm
# apt errors:
#E: Package 'p7zip-rar' has no installation candidate
#E: Package 'rar' has no installation candidate
#E: Package 'unrar' has no installation candidate
#E: Package 'lha' has no installation candidate
#E: Unable to locate package unace-nonfree
#E: Unable to locate package zopfli

# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script: make test PYTESTOPTS=-s
#notifications:
#  email: false
