[project]
name = "patool"
version = "4.0.1"
requires-python = ">=3.11"
dependencies = []
# these values are set by setup.py
dynamic = ["scripts", "authors", "keywords", "classifiers", "urls", "license", "readme", "description"]

[build-system]
requires = ["setuptools-reproducible"]
build-backend = "setuptools_reproducible"

# work around https://github.com/astral-sh/uv/issues/9513
[tool.setuptools]
license-files = []

[project.optional-dependencies]
# optional features
argcompletion = [
  'argcomplete==3.6.1',
]

# these modules are only needed for development
[tool.uv]
dev-dependencies = [
  # for using setuptools.setup() in setup.py
  "setuptools==77.0.3",

  # for testing
  "pytest==8.3.5",
  # plugin to run tests in parallel
  "pytest-xdist[psutil]==3.6.1",
  # plugin to run tests in random order
  "pytest-randomly==3.16.0",

  # for python code linting
  "ruff==0.11.2",

  # for python type checking
  "pytype==2024.10.11",

  # for generating a Python .whl file
  "wheel==0.45.1",

  # for generating the web page
  "sphinx==8.2.3",
  "myst-parser==4.0.1",

  # for upgrading the version number
  "bump2version==1.0.1",

  # test optional functionality
  "patool[argcompletion]",
]

[tool.patool]
# pin versions of Python and uv for development
python_version_dev = "3.12.9"
uv_version_dev = "0.6.9"
