# these modules are only needed for development

# for using setuptools.setup() in setup.py
setuptools==73.0.1

# for testing
pytest==8.3.2

# for python code linting
ruff==0.6.1

# for generating a Python .whl file
wheel==0.43.0

# for uploading releases
twine==5.1.1

# for generating the web page
Sphinx==8.0.2
myst-parser==4.0.0

# for upgrading the version number
bump2version==1.0.1
