{APPNAME} Downloads
======================

{APPNAME} {VERSION} is available for download for Windows systems
and in source format.

Files
------

* {APPNAME}-{VERSION}.exe
  The Windows installer. If you run Windows, use this. The installer is
  signed with a local certificate signature.
* {APPNAME}-{VERSION}.tar.gz
  The source code. See `doc/install.txt` for compilation and installation
  instructions.

The `.asc` are GPG signatures that you can use to verify that the
download is indeed made by the owner of the GPG key below (ie. me).
Download the `.asc` file in the same directory as the `.tar.gz`
file and run `gpg --verify {APPNAME}-{VERSION}.tar.gz`

The GPG key used to sign these packages is 32EC6F3E. It can be
downloaded with `gpg --keyserver wwwkeys.pgp.net --recv-keys 32EC6F3E`.

The `.sha1` files contain checksums that you can use to verify the
file integrity. Download the `.sha1` file in the same directory as
the `.tar.gz` file and run `sha1sum -c {APPNAME}-{VERSION}.tar.gz.sha1`


Changelog for this release
---------------------------

